<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Student list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Student List</h1>

<br/>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>role</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.role}"></td>

            <td>
                <form th:action="@{'/students/'+${marathonId}+'/edit/'+${student.id}}" method="get">
                    <div><input type="submit" value="edit"/></div>
                </form>
            </td>
            <td>
                <form th:action="@{'/students/'+${marathonId}+'/delete/'+${student.id}}" method="get">
                    <div>
                        <input type="submit" value="delete"/>
                    </div>

                </form>
            </td>
        </tr>
    </table>
</div>
<br/>

<div th:if="${marathonId!=null}">
    <p><a th:href="@{'/students/'+${marathonId}+'/add'}">Add to current marathon</a></p>
</div>

<div th:if="${marathonId==null}">
    <p><a th:href="@{'/students/create'}">register student</a></p>
</div>
</body>
</html>