<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Marathon list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Marathon List</h1>

<br/>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>title</th>
            <th sec:authorize="hasRole('ROLE_MENTOR')">edit</th>
            <th sec:authorize="hasRole('ROLE_MENTOR')">delete</th>
        </tr>
        <tr th:each="marathon : ${marathons}">
            <td th:text="${marathon.id}"></td>
            <td>
                <div sec:authorize="hasRole('ROLE_MENTOR')">
                <a th:href="@{/students/{id}(id=${marathon.id})}" th:text="${marathon.title}"></a>
                </div>
                <div sec:authorize="hasRole('ROLE_TRAINEE')">
                    <a th:href="@{/sprints/{id}(id=${marathon.id})}" th:text="${marathon.title}"></a>
                </div>
            </td>
            <td sec:authorize="hasRole('ROLE_MENTOR')">
                <form th:action="@{/marathons/edit/{id}(id=${marathon.id})}" method="get">
                    <div><input type="submit" value="edit"/></div>
                </form>
            </td>
            <td  sec:authorize="hasRole('ROLE_MENTOR')">
                <form th:action="@{/marathons/delete/{id}(id=${marathon.id})}" method="get">
                    <div>
                        <input type="submit" value="delete"/>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
<p sec:authorize="hasRole('ROLE_MENTOR')"><a href="/marathons/create">Add Marathon</a></p>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Log out</a>
</div>
<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">Log in</a>
</div>
</body>

</html>